
* { 
  margin: 0px;
  padding: 0;
}
body {
    /* background-color: #8BF5FA;  */
    background-color: #FFF5FD;
    
  color: black
  font-family: 'poppins',sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #F9F54B;
  

}
.left
{
  font-size: 2.5rem;
}
nav ul{
  display: flex;
  justify-content: center;
  font-size: 1.45rem;
}
nav ul li{
  list-style: none;
  margin: 0 30px;
}
nav ul li a
{
  text-decoration: none;
}
a:hover{
    color:rgb(92, 57, 24);
    font-size: 1.05rem;
}
.firstsection
{
  display: flex;
  justify-content: space-around;
  align-items: center ;
  
}
firstsection > div{
  width: 30%;
  
}
.leftsection
{
     font-size: 3rem;
     margin: 70px ;
}

/* #resume
{
  padding: 12px;
    background-color: #022E57;
    color: white;
    border: 2px solid gray;
    border-radius: 10px;
} */
.rightsection
{
  background-color: none;
  width:30%;
}
.rightsection img
{
  /* width:30%;*/
  margin:10px 0; 
  margin-right: 50px;
  /* border-radius:20px;
  border:10px solid  rgb(2, 2, 30);
   */
}
.purple
{
    color: #0E21A0;
}

#element
{    
  color:rgb(78, 35, 10);
  
}
 .secondsection
{
  margin: 70px;
  max-width: 80vw; 
  max-height: 80vh;
  
} 
.secondsection h1{
  font-size: 2.5rem;
  margin:10px;
}

.box
{ background-color: black; 
  width: 80vw;
  height: 2px;  
  margin: 60px;
  display: flex;
} 

.vertline
{  
  height: 93px;
  width: 2px;
  background-color: black;
  margin: 0 90px;
}
.imgtop
{
  
  width: 70px;
    top: -45px;
    left: -15px;
    position: relative;
}
.vertical-title
{
  top: 90px;
  position: relative;
  width: 150px; 
  font-size: 14px;
}
.vertical-desc
{
  position: relative;
    font-size: 11px;
    width: 150px;
    top: 150px;
    color: #005A8D; 
}

footer
{  position: relative;
  top: 600px;
  background-color:#005A8D;
  height:200px;

  
}
.footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 23px 122px;

}
.footer ul{
  list-style: none; 
}
.text-centre
{ display: flex;
  justify-content: space-evenly;
  color:bisque;

}